/**************************
*         Mixins          *
**************************/



/* Media Queries
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@mixin screen($size) {
    @media (min-width: #{$size}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$laptop - 1px}) {
        @content;
    }
}


/* General
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@mixin vertical-align($align: center) {
    display: flex;
    align-items: $align;
}

@mixin heading($width: 64px, $height: 2px) {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    &::before {
        content: '';
        position: absolute;
        bottom: -15px;
        display: inline-block;
        width: $width;
        height: $height;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: $accent-color;
        @include tablet {
            @if ($height == 1px) {
                left: 16px;
            }
        }
    }
}

@mixin last-margin-0($selector-1, $selector-2) {
    #{$selector-1}:last-child {
        #{$selector-2} {
            margin-bottom: 0;
        }
    }
}

@mixin side-padding($padding: $side-padding) {
    padding-left: $padding;
    padding-right: $padding;
}