/**************************
*      Placeholders       *
**************************/



/* General
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

%square-corner {
    border-radius: 0;
}


/* Slider
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

%slider-height {
    height: 160px;
    @include screen ($mobile) {
        height: 240px;
    }
    @include screen ($tablet) {
        height: 320px;
    }
    @include screen ($laptop) {
        height: 480px;
    }
    @include screen ($desktop) {
        height: 640px;
    }
}