/**************************
*        Variables        *
**************************/



/* Screen Sizes
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1440px;


/* General
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

$volkhov: 'Volkhov', "Palatino Linotype", "Book Antiqua", Palatino, serif;
$accent-color: #25A468;
$side-padding: 3.2rem;