/**************************
*        Variables        *
**************************/



/* Screen Sizes
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1440px;


/* General
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

$zilla: 'Zilla Slab', serif;
$caveat: 'Caveat', cursive;
$accent-color: #005B97;
$side-padding: 3.2rem;