/**************************
*        style.css       *
**************************/



/* @IMPORT
   =========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import "variables";
@import "mixins";
@import "placeholders";



/* STYLING
   =========================================================================== */


   /* General
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

h2, h3, h4, h5 {
    &.san-serif {
        font-family: $caveat;
    }
    font-family: $zilla;
    font-weight: 700;
}

p, ul li {
    font-family: $caveat;
    font-size: 1.25rem;
}

.nav a {
    font-family: $zilla;
    font-weight: 400;
}

p.regular-text {
    font-family: inherit;
    font-size: 1rem;
}

span.click.link {
    cursor: pointer;
    color: #007BFF;
    text-decoration: none;
    font-family: $zilla;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    &:hover{
        color: #0056b3;
        text-decoration: underline;
    }
}

.container-fluid, .navbar {
    @include screen($tablet) {
        @include side-padding();
    }
}

.heading-1 {
    @include heading();
}

.heading-2 {
    @include heading(32px, 1px);
    @include tablet {
        justify-content: start !important;
    }
    &::before {
        @include mobile {
            content: none;
        }
    }
}

.heading-3 {
    @include heading(32px, 1px);
    display: block;
    margin-bottom: 0;
    margin-top: 1em;
    &::before {
        bottom: 0;
        top: -15px;
        @include tablet {
            left: 50%;
        }
    }
}


/* Navbar
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.navbar {
    .navbar-toggler {
        padding: 0;
        border: transparent;
        .hamburger-menu {
            color: $accent-color;
        }
        .fa-1x {
            font-size: 1.5rem;
        }
    }
    .navbar-nav {
        li {
            &:hover {
                cursor: pointer;
            }
        }
    }
}


/* Slider
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.slide-banner {
    @include mobile {
        h2 {
            font-size: 1.5rem;
        }
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: 0 4px;
        border-radius: 50%;
    }
    @extend %slider-height;
    .carousel-item {
        @extend %slider-height;
    }
    .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        margin: 0 auto;
    }
    .carousel-item:after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.32);
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        a {
            color: #FFFFFF;
        }
    }
}


/* What Makes Them So Special?
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.special {
    i.fa {
        color: $accent-color;
        &::before{
            font-size: 4.8em;
        }
    }
    .special-change-layout {
        @include tablet {
            .card-title {
                text-align: left !important;
            }
            .col-md-2 {
                @include vertical-align();
            }
        }
    }
    .card {
        @include screen($tablet) {
            pointer-events: none;
        }
        @include mobile {
            cursor: pointer;
        }
        .card-text {
            @include mobile {
                display: none;
            }
        }
    }
    @include mobile {
        @include last-margin-0(".col-8", "h4");
    }
}


/* The Singer / Guitarist Duo & Bands
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.duo {
    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.bands {
    .card-header {
        background-color: rgba(0,0,0,.06);
        h3 {
            button {
                color: $accent-color;
                font-size: 1.24rem;
                &:hover {
                    color: darken($accent-color, 16%);
                }
            }
        }
    }
    .card-body {
        padding: 1.6rem;
        & > .card {
            @extend %square-corner;
            border: 0;
        }
    }
    .card-img {
        @extend %square-corner;
    }
    h4.card-title {
        font-size: 1.24rem;
        .role {
            font-size: 1rem;
            margin-left: 0.16rem;
        }
    }
    ul.card-text {
        padding-left: 28px;
    }
}


/* Individual Band Pages
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.records.container {
    @include tablet {
        max-width: 100%;
    }
    .row {
        @include mobile {
            & > div .card {
                margin-bottom: 1.6rem;
            }
            & > div:last-of-type .card {
                margin-bottom: 0;
            }
        }
        .card-body {
            padding: 1.25rem 1rem;
        }    
    }
}

.video {
    @include mobile {
        margin-bottom: 1.6rem;
    }
}