/**************************
*        style.css       *
**************************/



/* @IMPORT
   =========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import "variables";
@import "mixins";
@import "placeholders";



/* STYLING
   =========================================================================== */


   /* General
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

h2, h3, h4 {
    &.san-serif {
        font-family: inherit;
    }
    font-family: $caveat;
}

.container-fluid, .navbar {
    @include screen($tablet) {
        @include side-padding();
    }
}

.heading-1 {
    @include heading();
}

.heading-2 {
    @include heading(32px, 1px);
}


/* Navbar
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.navbar {
    .navbar-toggler {
        padding: 0;
        border: transparent;
        .hamburger-menu {
            color: $accent-color;
        }
        .fa-1x {
            font-size: 1.5rem;
        }
    }
    .navbar-nav {
        li {
            &:hover {
                cursor: pointer;
            }
        }
    }
}


/* Slider
   =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.slide-banner {
    @include mobile {
        h2 {
            font-size: 1.5rem;
        }
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin: 0 4px;
        border-radius: 50%;
    }
    @extend %slider-height;
    .carousel-item {
        @extend %slider-height;
    }
    .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        margin: 0 auto;
    }
    .carousel-item:after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.32);
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
    }
}


/* Services
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.services {
    i.fa {
        color: $accent-color;
        &::before{
            font-size: 4.8em;
        }
    }
    .service-change-layout {
        @include tablet {
            .card-title {
                text-align: left !important;
            }
            .col-md-2 {
                @include vertical-align();
            }
        }
    }
    .card-text {
        @include mobile {
            display: none;
        }
    }
    @include mobile {
        @include last-margin-0(".col-8", "h4");
    }
}


/* Video & Team
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.video {
    @include mobile {
        margin-bottom: 1.6rem;
    }
}

.team {
    .card-header {
        background-color: rgba(0,0,0,.06);
        h3 {
            button {
                color: $accent-color;
                &:hover {
                    color: darken($accent-color, 16%);
                }
                span {
                    font-weight: 700;
                }
            }
        }
    }
    .card-body {
        padding: 1.6rem;
        & > .card {
            @extend %square-corner;
            border: 0;
        }
    }
    .card-img {
        @extend %square-corner;
    }
    .card-title {
        .certificate {
            font-size: 1.0rem;
            margin-left: 0.4rem;
        }
    }
}